<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-barra fixed-top center" >
    <div class="container">
      <a class="navbar-brand  mx-auto" href="/">
        <%= image_tag "logo.png", class: "img-responsive img-fluid", alt:"Logo", width: "450", height: "250"%>

      </a>
  
    </div>    
  </nav>>
<br><br>
<div  class="container">
<div class="row">
          <div class="col-md-6 offset-md-3">      
          <%= image_tag "agroworld.jpeg", class: "img-fluid img-responsive", alt: "team",width: "500", height:"500" %><br></div>

          <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>La empresa fue fundada en Tucumán - Argentina en el año 1996 y en un contexto agroexportador dinámico, con un acelerado crecimiento y extremadamente competitivo. La empresa no sólo fue concebida como un socio estratégico facilitador para importadores de productos agrícolas, sino también como una consultora eficiente y confiable en el asesoramiento y en la supervisión para todas las etapas de la gestión de negocios.</p><br>
         </div>
       
        
<div>
<div class="row">
  <div class="col-md-6">
  	  <div class="hovereffect">
         <%= image_tag "agro3.png", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
           <h2 style="font-weight: bold;font-size: 30px;">Productos - Legumbres</h2>
             <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>La empresa comercializa legumbres de diversas variedades tales como porotos negros, alubias, porotos colorados, cramberri.</p><br>
         </div>
        </div>
    </div>
 
  <div class="col-md-6">
  	  <div class="hovereffect">
         <%= image_tag "agro5.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
           <h2 style="font-weight: bold;font-size: 30px;"">Productos - Cereales</h2>
         <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>Maíz pisingallo (pop corn)</p><br>
        </div>
    </div>
  </div>
</div>
</div>
<br>
<div>
<div class="row">
   <div class="col-md-6">
   	  <div class="hovereffect">
         <%= image_tag "pana4.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
        <h2 style="font-weight: bold;font-size: 30px;"">Exportaciones</h2>
        <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>El volumen de exportaciones más destacado y sostenido se dirige al mayor mercado de Sudamérica.</p><br>
        </div>
    </div>
   </div>
   <div class="col-md-6">
   	  <div class="hovereffect">
         <%= image_tag "agro2.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
        <h2 style="font-weight: bold;font-size: 30px;"">Mercados</h2>
        <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>El profesionalismo de Agro World Argentina S.R.L. y la calidad de sus productos han sido recompensados con la apertura y aceptación de importantes mercados en Latinoamérica y Europa.</p><br>
            
        </div>
    </div>
   </div>
 </div>
 </div>
 <br><br>


</div>


 





</body>
</html>