<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>

  <body>

<!--       NAVBAR       -->
  <nav class="navbar navbar-expand-md bg-barra fixed-top center" >
    <div class="container">
      <a class="navbar-brand  mx-auto" href="/">
        <%= image_tag "logo.png", class: "img-responsive img-fluid", alt:"Logo", width: "450", height: "250"%>

      </a>
  
    </div>    
  </nav>


<br><p></p>
<div  class="container">
<div class="row">
          <div class="col-md-6 offset-md-3">      
          <%= image_tag "logoLG.webp", class: "img-fluid img-responsive", alt: "team",width: "500", height:"500" %><br></div>

          <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>Lg Food una empresa argentina radicada desde sus inicios en Tucumán, al norte del país. Su crecimiento, bastó para que ampliar la zona incluyendo parte del centro del país. Es una empresa abierta comercialmente, en la constante búsqueda de nuevos clientes con los que se puedan realizar nuevos negocios.</p>
         </div>
       
         <br>
<div>
<div class="row">
  <div class="col-md-6">
  	  <div class="hovereffect">
         <%= image_tag "lopez-poroto.webp", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
           <h2 style="font-weight: bold;font-size: 30px;">MERCADO INTERNACIONAL</h2><p></p>
           <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 20px; text-align: center;"> <br><br><br>Lg Food es una empresa que estudia la economía de los mercados, para poder cuidar al mercado en el que toma participación. Sus principales clientes apuestan firmemente al crecimiento paralelo.</p>
        </div>
    </div>
  </div>
  <div class="col-md-6">
  	  <div class="hovereffect">
         <%= image_tag "lopez-poroto2.webp", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
           <h2 style="font-weight: bold;font-size: 30px;""> MERCADO INTERNO </h2><p></p>
         <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 20px; text-align: center;"> <br><br><br>Lg Food realiza un seguimiento constante de las zonas productoras, con un estrecho vínculo con los productores locales. Apostando fuertemente a las empresas de la zona para un crecimiento de las economías locales </p>
        </div>
    </div>
  </div>
</div>
<br>
<div class="row">
   <div class="col-md-6">
   	  <div class="hovereffect">
         <%= image_tag "lopez-poroto3.webp", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
        <h2 style="font-weight: bold;font-size: 30px;"">Baina de poroto negro</h2><p></p>
        </div>
    </div>
   </div>
   <div class="col-md-6">
   	  <div class="hovereffect">
         <%= image_tag "lopez-poroto4.webp", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
        <h2 style="font-weight: bold;font-size: 30px;"">Baina de poroto alubia</h2><p></p>
            
        </div>
    </div>
   </div>
 </div>
 <br><br>


</div>

  </div>
 





</body>
</html>