<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-barra fixed-top center" >
    <div class="container">
      <a class="navbar-brand  mx-auto" href="/">
        <%= image_tag "logo.png", class: "img-responsive img-fluid", alt:"Logo", width: "450", height: "250"%>

      </a>
  
    </div>    
  </nav>
<br>


<br>
<div  class="container">
<div class="row">
          <div class="col-md-6 offset-md-3">      
          <%= image_tag "cas.png", class: "img-fluid img-responsive", alt: "team",width: "500", height:"500" %><br></div>

          <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>Somos una empresa familiar dedicada a la exportación de legumbres y especialidades con base en el norte de Argentina, en la provincia de Tucumán. Nuestra empresa no solo vende productos básicos, sino que también tiene un fuerte compromiso con la producción agrícola. Nuestros cultivos principales son frijoles negros, frijoles alubia, frijoles rojos oscuros, frijoles rojos claros, frijoles arándanos rojos, soya, maíz, trigo y garbanzo.</p><br>
         </div>
       
        
<div>
<div class="row">
  <div class="col-md-6">
  	  <div class="hovereffect">
         <%= image_tag "cas1.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
           <h2 style="font-weight: bold;font-size: 30px;">Poroto negro </h2>
           
        </div>
    </div>
  </div>
  <div class="col-md-6">
  	  <div class="hovereffect">
         <%= image_tag "cas2.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
           <h2 style="font-weight: bold;font-size: 30px;"">Poroto alubia</h2>
         
        </div>
    </div>
  </div>
</div>
<br>
<div class="row">
   <div class="col-md-6">
   	  <div class="hovereffect">
         <%= image_tag "cas3.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
        <h2 style="font-weight: bold;font-size: 30px;"">Poroto colorado dark</h2>
        
        </div>
    </div>
   </div>
   <div class="col-md-6">
   	  <div class="hovereffect">
         <%= image_tag "cas4.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
        <h2 style="font-weight: bold;font-size: 30px;"">Poroto colorado light</h2>
        
            
        </div>
    </div>
   </div>
 </div>
 <br><br>


</div>

  </div>
 





</body>
</html>