<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-barra fixed-top center" >
    <div class="container">
      <a class="navbar-brand  mx-auto" href="/">
        <%= image_tag "logo.png", class: "img-responsive img-fluid", alt:"Logo", width: "450", height: "250"%>

      </a>
  
    </div>    
  </nav>
<br>


<br>
<div  class="container">
<div class="row">
          <div class="col-md-6 offset-md-3">      
          <%= image_tag "marti.png", class: "img-fluid img-responsive", alt: "team",width: "500", height:"500" %><br></div>

          <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>Es una empresa que nació con el objetivo de desarrollar agro negocios tanto en producción primaria, como en industrialización y servicios, convirtiéndose en un actor principal del rubro. Proveen soluciones integrales tanto a productores, comercializadores, industriales y exportadores, con más de 17 años en el rubro.</p>
         </div>
       
        
<div>
<div class="row">
  <div class="col-md-6">
  	  <div class="hovereffect">
         <%= image_tag "marti1.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
           <h2 style="font-weight: bold;font-size: 30px;">Productos - Especialidades </h2><p></p>
           <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 20px; text-align: center;"> <br><br><br> La empresa provee porotos colorados, maíz pisingallo, Coriandro, porotos mong, girasol confitero, garbanzos, lentejas, poroto/fríjol cramberry bean, porotos colorados, porotos/fríjoles alubia, arvejas, porotos/fríjoles negros.</p>
        </div>
    </div>
  </div>
  <div class="col-md-6">
  	  <div class="hovereffect">
         <%= image_tag "marti2.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
           <h2 style="font-weight: bold;font-size: 30px;"">Productos - Retail</h2><p></p>
         <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 20px; text-align: center;"> <br><br><br>Venta al detalle de la marca "DESA", comercialización en envases de 500kg peso neto, para los productos: lentejas, porotos alubia, poroto negro, maíz pisingallo, polenta y polenta cocción rápida.</p>
        </div>
    </div>
  </div>
</div>
<br>
<div class="row">
   <div class="col-md-6">
   	  <div class="hovereffect">
         <%= image_tag "marti3.jpeg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
        <h2 style="font-weight: bold;font-size: 30px;"">COMERCIALIZACIÓN DE CEREALES, LEGUMBRES</h2>
        <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 20px; text-align: center;"> <br><br><br>Compramos y vendemos, tanto en mercado interno como para exportación soja, maíz, trigo, maíz pisingallo, poroto negro, poroto alubia, porotos colorados (dark y light), porotos cranberry, garbanzos, arvejas, lentejas y otros productos.</p>
        </div>
    </div>
   </div>
   <div class="col-md-6">
   	  <div class="hovereffect">
         <%= image_tag "marti6.jpeg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
        <h2 style="font-weight: bold;font-size: 30px;"">PROCESAMIENTO DE LEGUMBRES</h2>
        <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 20px; text-align: center;"> <br><br><br>Tenemos planta de procesamiento propia, con tecnología de punta y alta capacidad de proceso (entre 6 y 8 toneladas por hora). Seleccionadora por color modelo 2016. Capacidad mensual total: 2000 Tn.</p>
            
        </div>
    </div>
   </div>
 </div>
 <br><br>


</div>

  </div>
 





</body>
</html>