<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-barra fixed-top center" >
    <div class="container">
      <a class="navbar-brand  mx-auto" href="/">
        <%= image_tag "logo.png", class: "img-responsive img-fluid", alt:"Logo", width: "450", height: "250"%>

      </a>
  
    </div>    
  </nav>
<br><br>
<div  class="container">
<div class="row">
          <div class="col-md-6 offset-md-3">      
          <%= image_tag "southamerican.png", class: "img-fluid img-responsive", alt: "team",width: "500", height:"500" %><br></div>

          <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>Argentina es uno de los países con mayor diversidad en cultivos agrícolas. Existe una gran producción de legumbres, frutas y hortalizas, concentrados principalmente en el noroeste de Argentina, donde se encuentra nuestra empresa exportadora. Logramos diferentes canales de comercialización para nuestros, productos asistiendo a los mercados nacionales e internacionales.</p><br>
         </div>
       
        
<div>
<div class="row">
  <div class="col-md-6">
  	  <div class="hovereffect">
         <%= image_tag "saf1.png", class: "img-responsive",  alt: "team",width: "600", height:"400"%>
        <div class="overlay">
           <h2 style="font-weight: bold;font-size: 30px;">Exportaciones</h2>
             <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>Exportamos actualmente a más de 20 países tales como Brasil, Chile, Bolivia, Panamá, Jamaica, México, Costa Rica, EEUU, Canadá, Italia, España, Francia, Portugal, Turquía, India, etc.</p><br>
         </div>
        </div>
    </div>
 
  <div class="col-md-6">
  	  <div class="hovereffect">
         <%= image_tag "saf2.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
           <h2 style="font-weight: bold;font-size: 30px;"">Volumen de exportación</h2>
         <p style="font-family: 'Comic Sans MS', cursive, sans-serif;font-weight: lighter;color:#1A5178; font-size: 30px; text-align: center;"> <br>Exportamos hasta el momento más de 100.000 toneladas de porotos(frijoles), garbanzos, maíz pisingallo, nueces, ajos, frutas secas, orégano,nueces de nogal, chía, etc.</p><br>
        </div>
    </div>
  </div>
</div>
</div>
<br>
<div>
<div class="row">
   <div class="col-md-6">
   	  <div class="hovereffect">
         <%= image_tag "saf4.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
        <h2 style="font-weight: bold;font-size: 30px;"">EPoroto Colorado Dark (DRK)</h2>
        
        </div>
    </div>
   </div>
   <div class="col-md-6">
   	  <div class="hovereffect">
         <%= image_tag "saf3.jpg", class: "img-responsive",  alt: "team",width: "600", height:"500"%>
        <div class="overlay">
        <h2 style="font-weight: bold;font-size: 30px;"">Poroto Cranberry</h2>
       
            
        </div>
    </div>
   </div>
 </div>
 </div>
 <br><br>


</div>


 





</body>
</html>